
.DS_Store
.idea/
.idea

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

**/.idea

**/.settings
**/bin

*.classpath
*.project
*.DS_Store
*.pdf
*.zip

0-rabbits/instructions.txt
0-rabbits/report_rabbits.tex

1-reactive/history.xml
1-reactive/reactive.iml

assignments/

